<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kidzone</title>
    <link rel="stylesheet" href="../assas/css/bootstrap.css">
    <link rel="stylesheet" href="../assas/css/bootstrap.min.css">

    <link rel="stylesheet" href="../assas/css/include.css">

    <script src="https://kit.fontawesome.com/9fe8afb7ed.js" crossorigin="anonymous"></script>
</head>

<body>
     <!-- **********      navbar         ************* -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid bg-color">
            <a class="navbar-brand img_tpmplate home" href="#">KIDZONE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="img_tpmplate">
                <div class="navbar-nav ">
                    <a class="nav-link home" aria-current="page" href="#">Home</a>
                    <a class="nav-link home" href="#">Features</a>
                    <a class="nav-link home" href="#">Pricing</a>
                    <a class="nav-link home" aria-current="page" href="#">Disabled</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- ********************  Row 1  ******************* -->

    <div class="container-fluid bg-color">
        <div class=" row">
            <hr>
            <div class="col-lg-6 col-sm-12 col-md-4 px-5  marging-css align-items-center   ">
                <p class="WELCOME">WELCOME TO KIDZONE</p> <br>
                <p class="paragraf ">Learning is fun for your child</p>
                <button class="btn-Enroll home">Enroll Now</button>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-6 pt-5 ">
                <img class="img-fluid" src="../assas/image/pf-029a956b--JSN-Kidzone-Home-2.webp"
                    alt=" child image boy ">
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#FFE3E7" fill-opacity="1.2"
            d="M0,32L80,58.7C160,85,320,139,480,154.7C640,171,800,149,960,149.3C1120,149,1280,171,1360,181.3L1440,192L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
    </svg>
    <!-- ***************  Row 2  ************************ -->

    <div class="container-fluid">
        <div class=" row px-5 ">
            <div class="col-lg-6 col-sm-12 col-md-6 pt-5 ">
                <img class="img-fluid" src="../assas/image/pf-9a956b56--JSN-Kidzone-Home-1.webp"
                    alt=" child image girl ">
            </div>
            <div class="col-lg-6 col-sm-12 col-md-4   marging-css align-items-center   ">
                <p class="MISSION">MISSION AND PHILOSOPHY</p> <br>
                <h4 class="paragraf-2 ">Our Mission</h4> <br>
                <p style="color: #666666; font-size: larger;">Kidzone Kindergarten is committed to providing a program
                    that focuses on the development of young children through a well-rounded experience and inspires a
                    love of lifelong learning.</p> <br>
                <p style="color: #666666; font-size: larger;">We believe that children are born eager and ready to learn
                    anytime for growing themselves!</p>
                <button class="btn-Enroll">Learn More</button>
            </div>
        </div>
    </div>
    <!-- *****************  Row 3  ************************ -->

    <div class="container-fluid pb-5">
        <div class="row mt-2 pb-5">
            <div class="col-sm-12 col-lg-12 col-md-12 text-center ">
                <div class="heading  mb-5 pb-5">
                    <p class="MISSION">UNIQUE BENEFITS</p>
                    <h4 class="paragraf-2 ">What We'fe Offering</h4>
                </div>
            </div>

            <div class="container  text-center">
                <div class="row px-lg-5 justify-content-center g-4">
                    <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class=" card rounded-3" style="border-color:#a09f9f;">
                            <img class="img-fluid px-5" src="../assas/image/pf-ed1713fa--JSN-Kidzone-Home-3.svg" alt="">
                            <div class="px-4">
                                <h3 class="card-title">Teaching Method</h3> <br>
                                <p class="card-text">Maintain a classroom full of warmth and acceptance. Our classroom
                                    is where
                                    your kids' opinions and ideas will be heard and valued.</p> <br>
                            </div>
                        </div>
                    </div> <br>
                    <div class="col-sm-12 col-lg-3 col-md-6 ">
                        <div class="card rounded-3" style="border-color:#a09f9f;">
                            <img class="img-fluid px-5" src="../assas/image/pf-1713fa6f--JSN-Kidzone-Home-4_1.svg"
                                alt="">
                            <div class="px-3">
                                <h3 class="card-title">Outdoor Education</h3> <br>
                                <p class="card-text">Rock Climbing, Mountaineering, Kayaking, River Rescue,Canoeing and
                                    many
                                    more help children become stronger and more active.</p> <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 ">
                        <div class="card rounded-3" style="border-color:#a09f9f;">
                            <img class="img-fluid px-5" src="../assas/image/pf-13fa6fff--JSN-Kidzone-Home-5.svg" alt="">
                            <div class="px-4">
                                <h3 class="card-title">Fun Awards</h3> <br>
                                <p class="card-text">Most Caring, Best Manners, Most Thoughtful, The Silliest, Great
                                    Sharer,
                                    Biggest Smile, Great Listener,etc... which make kids feel special.</p> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>
    <!-- *****************  Row 4  ************************ -->

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#dff4ff" fill-opacity="1.2"
            d="M0,32L80,58.7C160,85,320,139,480,154.7C640,171,800,149,960,149.3C1120,149,1280,171,1360,181.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
        </path>
    </svg>
    <div class="container-fluid  bg-color2">
        <div class="row mt-2 pb-5">
            <div class="col-sm-12 col-lg-12 col-md-12 text-center ">
                <div class="heading  mb-5 pb-5">
                    <p class="MISSION">KIDZONE EDUCATION</p>
                    <h4 class="paragraf-2 ">Our Programmes</h4>
                </div>
            </div>
            <div class="row  justify-content-center  ">
                <div class="col-sm-12 col-lg-3 col-md-6 ">
                    <div class="card" style="border-color:#DFF4FF;">
                        <img class="img-fluid" src="../assas/image/photo-1529672425113-d3035c7f4837.webp" alt="">
                        <div class="mt-3 px-2 pb-4">
                            <h3 class="card-title">Playground Exercise</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris</p> <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 col-md-6 ">
                    <div class="card " style="border-color:#DFF4FF;">
                        <img class="img-fluid" src="../assas/image/photo-1526662092594-e98c1e356d6a.webp" alt="">
                        <div class="mt-3 px-2">
                            <h3 class="card-title">Lesson Application</h3> <br>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris</p> <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 col-md-6">
                    <div class="card" style="border-color:#DFF4FF;">
                        <img class="img-fluid" src="../assas/image/photo-1565538420870-da08ff96a207.webp" alt="">
                        <div class="mt-3 px-2">
                            <h3 class="card-title">Study session</h3> <br>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco </p> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-2">
            <div class="row  pb-5 ">
                <div class="col-lg-6 col-sm-12 col-md-4 px-2  marging-css align-items-center   ">
                    <p class="MISSION">KIDZONE Q&A</p>
                    <h1>Parent Information</h1> <br>
                    <p>If the question that you are looking for is not listed, please send it to us and we will get back
                        as soon as possible.</p>
                    <p>As your child enters kindergarten, we know that you probably have a lot of questions. We want to
                        make sure that you and your child feel at home here at Webster, so we have come up with a list
                        of the most frequently asked questions about this very important first year of school.</p>
                    <button class="btn-Enroll">Send your question</button>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6 mt-5 pt-5 pb-5  mb-5 ">
                    <button class="mt-5 btn-what">+ What are the general capabilities ?</button>
                    <button class="mt-3 btn-what"> + What if my child gets sick ?</button>
                    <button class="mt-3 btn-what">+is langage course optional ?</button>
                    <button class="mt-3 btn-what"> + What are your pick up procedures ?</button>
                    <button class="mt-3 btn-what">+ Where can I bus school uniforms ?</button>
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#dff4ff" fill-opacity="1.2"
            d="M0,32L80,58.7C160,85,320,139,480,154.7C640,171,800,149,960,149.3C1120,149,1280,171,1360,181.3L1440,192L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
    </svg>
    <!-- *****************  Row 5  ************************ -->

    <div class="container-fluid px-5 mb-5 pb-5">

        <div class="text-center ">
            <div class="heading  mb-5 pb-5">
                <p class="MISSION">PARENTS LOVE US</p>
                <h4 class="paragraf-2 ">What Parents Say</h4>
            </div>
        </div>


    </div>
    <!-- *****************  Row 6  ************************ -->

    <div class="container-fluid px-5 pb-5 text-center">
        <div class="heading  mb-5 pb-5">
            <p class="MISSION">KIDZONE STAFFS</p>
            <h4 class="paragraf-2 ">Meet Our Teachers</h4>
        </div>

        <div class="row   g-2">
            <div class="col-sm-12 col-lg-3 col-md-6 ">
                <div class="container">
                    <img src="../assas/image/pf-956b5623--JSN-Kidzone-Home-6.jpg"
                        class="card-img-top img-fluid rounded-5 rounded-bottom-0" alt="...">
                    <div class="container-fluid row row-cols-2 row-cols-md-3  justify-content-center mt-3 px-5 mb-4">
                        <i class="fa-brands fa-square-facebook fa-fade  size1 " style="color: #5470a0;"></i>
                        <i class="fa-brands fa-square-twitter fa-fade size1 " style="color: #009dff;"></i>
                        <i class="fa-brands fa-square-google-plus fa-fade size1" style="color: #e21d1d;"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title fw-bold">ASHLEY ROSA</h4>
                        <p>Music Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 col-md-6">
                <div class="container">
                    <img src="../assas/image/pf-23c89f91--JSN-Pixel-2-About-9.jpg"
                        class="card-img-top img-fluid rounded-5 rounded-bottom-0" alt="...">
                    <div class="container-fluid row row-cols-2 row-cols-md-3  justify-content-center mt-3 px-5 mb-4">
                        <i class="fa-brands fa-square-facebook fa-fade  size1 " style="color: #5470a0;"></i>
                        <i class="fa-brands fa-square-twitter fa-fade size1 " style="color: #009dff;"></i>
                        <i class="fa-brands fa-square-google-plus fa-fade size1" style="color: #e21d1d;"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title fw-bold">JAMES BROWN</h4>
                        <p class="card-text">Physical Education Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 col-md-6">
                <div class="container">
                    <img src="../assas/image/SCR-20231022-nssw.webp"
                        class="card-img-top img-fluid rounded-5 rounded-bottom-0" alt="...">
                    <div class="container-fluid row row-cols-2 row-cols-md-3  justify-content-center mt-3 px-5 mb-4">
                        <i class="fa-brands fa-square-facebook fa-fade  size1 " style="color: #5470a0;"></i>
                        <i class="fa-brands fa-square-twitter fa-fade size1 " style="color: #009dff;"></i>
                        <i class="fa-brands fa-square-google-plus fa-fade size1" style="color: #e21d1d;"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title fw-bold">CARLA HOUSTON</h4>
                        <p class="card-text">Math Teacher.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 col-md-6">
                <div class="container">
                    <img src="../assas/image/pf-5623c89f--JSN-Pixel-2-About-8.jpg"
                        class="card-img-top img-fluid rounded-5 rounded-bottom-0" alt="...">
                    <div class="container-fluid row row-cols-2 row-cols-md-3  justify-content-center mt-3 px-5 mb-4">
                        <i class="fa-brands fa-square-facebook fa-fade  size1 " style="color: #5470a0;"></i>
                        <i class="fa-brands fa-square-twitter fa-fade size1 " style="color: #009dff;"></i>
                        <i class="fa-brands fa-square-google-plus fa-fade size1" style="color: #e21d1d;"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title fw-bold">DANIEL GARCIA</h4>
                        <p class="card-text">Technology Teacher.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- *****************  Row 7  ************************ -->

    <div class="container ">
        <div class=" row row-cols-1 row-cols-md-4 align-items-center ">
            <div class="col">
                <div class="text-center fw-bold">
                    <p class="MISSION">KIDZONE RECOGNITION</p>
                    <h1>Our Awards</h1>
                </div>
            </div>
            <div class="col text-center">
                <img src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-9166e14b--JSN-Pixel-2-About-15.png?v=1622518357"
                    alt="">
            </div>
            <div class="col text-center">
                <img src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-c89f9166--JSN-Pixel-2-About-13.png?v=1622518348"
                    alt="">
            </div>
            <div class="col text-center">
                <img src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-9f9166e1--JSN-Pixel-2-About-14.png?v=1622518352"
                    alt="">
            </div>
        </div>
    </div>
    <!-- *****************  Row 8  ************************ -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#E1FCEB" fill-opacity="1.2"
            d="M0,32L80,58.7C160,85,320,139,480,154.7C640,171,800,149,960,149.3C1120,149,1280,171,1360,181.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
        </path>
    </svg>
    <div class="container-fluid  bg-color3">                                                                            
        <div class="row pb-5">
            <div class="col-sm-12 col-lg-12 col-md-12 text-center ">
                <div class="heading  mb-5 pb-5">
                    <p class="MISSION">KIDZONE NEWS</p>
                    <h4 class="paragraf-2 ">Latest News & Activities</h4>
                </div>
            </div>
            <div class="container ">
                <div class="row justify-content-center ">
                    <div class="col-sm-12 col-lg-3 col-md-6 ">
                        <div class="card" style="border-color:#DFF4FF;">
                            <img class="img-fluid"
                                src="https://pagefly.myshopify.com/cdn/shop/articles/photo-1471286174890-9c112ffca5b4.jpg?v=1638020840"
                                alt="">
                            <div class="mt-3 px-3">
                                <h3 class="card-title">How outdoor activities can improve children's health</h3> <br>
                                <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                    blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                    molestias </p> <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 ">
                        <div class="card " style="border-color:#DFF4FF;">
                            <img src="https://pagefly.myshopify.com/cdn/shop/articles/photo-1537655780520-1e392ead81f2.jpg?v=1638020963"
                                alt="">
                            <div class="mt-3 px-3">
                                <h3 class="card-title">Why saving time with your children is important</h3> <br>
                                <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                    blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                    molestias </p> <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class="card" style="border-color:#DFF4FF;">
                            <img src="https://pagefly.myshopify.com/cdn/shop/articles/photo-1542000551557-3fd0ad0eb15f.jpg?v=1638021088"
                                alt="">
                            <div class="mt-3 px-3 pb-4">
                                <h3 class="card-title">Back to school season: What to prepare?</h3> <br>
                                <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                    blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                    molestias </p> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-2">
            <div class=" row px-5 pb-5 ">
                <div class="col-lg-6 col-sm-12 col-md-4 px-3  marging-css align-items-center   ">
                    <p class="MISSION">KIDZONE COMMUNITY</p>
                    <p class="paragraf-2 ">Enlist Now!</p>

                    <p>Are you still worrying about whether or not your child is ready for kindergarten? Or you cannot
                        find the ideal answer for some questions in your mind? Here, at Kidzone, we care about you as
                        much as about your children. Please let us know if there is something bothering you, we are
                        always here to help.</p> <br>
                    <button class="btn-Enroll">Contact Us</button>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6  ">

                    <img class="img-fluid" src="../assas/image/pf-403473eb--JSN-Pixel-2-About-12.webp"
                        alt=" child image boy ">

                </div>
            </div>
        </div>
    </div>
</body>

</html>