<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDISENSE</title>
    <link rel="stylesheet" href="../assas/css/bootstrap.css">
    <link rel="stylesheet" href="../assas/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assas/css/include.css">

    <script src="https://kit.fontawesome.com/9fe8afb7ed.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container-fluid bg-color mt-5 pb-5">
        <div class=" row ">
            <div class="col-lg-10 col-sm-9 col-md-8 ml-5  marging_top  ">
                <p>MEDICINE</p>
                <h2 class="your_helth pt-2 pb-3">YOUR HEALTH IS <br> YOUR WEALTH</h2>
                <p>HAVE YOUR CHEAPEST MEDICINE OLNINE</p> <br>
                <button class="Get">Get it now</button>
            </div>

        </div>
    </div>
    <!-- *****************   row 2 ****************** -->
    <div class="container-fluid mt-5">
        <div class=" justify-content-evenly mb-5 g-4 row">
            <div class="col-lg-4 col-sm-12 col-md-6    contrl_text bg_img  ">
                <p>LOVE - CARE - UNDERSTAND</p>
                <h3>FREE ONLINE 24/7 <br>
                    CONSULTING <br> SERVICES</h3>
                <button class="btn_2">MEET OUR DOTOR</button>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-6 pt-5 bg_img2">
                <p>DEAL OF THE DAY</p>
                <h1>20% OFF</h1>
            </div>
        </div>
    </div>
    <!-- *****************   row 3 ****************** -->
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <button class="p-4 line">MEDICINES </button>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class=" justify-content-evenly mb-5 row text-center">
            <div class="col-lg-2 col-sm-12 col-md-6">
                <img class="img-fluid" src="../assas/image/Medisene_Copy_2.jpg" alt="">
                <p>Sundown Naturals</p>
                <h5 class="rating">$5.00</h5>
                <button class="btn_3">Add to card</button>
            </div>
            <div class="col-lg-2 col-sm-12 col-md-6">
                <img class="img-fluid" src="../assas/image/Medisene_Copy_3.jpg" alt="">
                <p>Nature Made Vitamin</p>
                <h5 class="rating">$12.00</h5>
                <button class="btn_3">Add to card</button>
            </div>
            <div class="col-lg-2 col-sm-12 col-md-6">
                <img class="img-fluid" src="../assas/image/Medisene_Copy_4.jpg" alt="">
                <p>Axe Vitamin B</p>
                <h5 class="rating">$5.00</h5>
                <button class="btn_3">Add to card</button>
            </div>
            <div class="col-lg-2 col-sm-12 col-md-6">
                <img class="img-fluid" src="../assas/image/Medisene_Copy_5.jpg" alt="">
                <p>Biotin vitamin</p>
                <h5 class="rating">$60.00</h5>
                <button class="btn_3">Add to card</button>
            </div>


        </div>
    </div>
    <!-- *****************   row 4 ****************** -->
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <button class="p-4 line">VITAMINS & SUPPLEMENTS </button>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class=" justify-content-evenly mb-5 row text-center">
            <div class="col-lg-2 col-sm-12 col-md-6">
                <img class="img-fluid" src="../assas/image/Medisene_Copy_2.jpg" alt="">
                <p>Sundown Naturals</p>
                <h5 class="rating">$5.00</h5>
                <button class="btn_3">Add to card</button>
            </div>
            <div class="col-lg-2 col-sm-12 col-md-6">
                <img class="img-fluid" src="../assas/image/Medisene_Copy_3.jpg" alt="">
                <p>Nature Made Vitamin</p>
                <h5 class="rating">$12.00</h5>
                <button class="btn_3">Add to card</button>
            </div>
            <div class="col-lg-2 col-sm-12 col-md-6">
                <img class="img-fluid" src="../assas/image/Medisene_Copy_4.jpg" alt="">
                <p>Axe Vitamin B</p>
                <h5 class="rating">$5.00</h5>
                <button class="btn_3">Add to card</button>
            </div>
            <div class="col-lg-2 col-sm-12 col-md-6">
                <img class="img-fluid" src="../assas/image/Medisene_Copy_5.jpg" alt="">
                <p>Biotin vitamin</p>
                <h5 class="rating">$60.00</h5>
                <button class="btn_3">Add to card</button>
            </div>
        </div>
    </div>
    <!-- /*  *****************   row 5 ******************  */ -->
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <button class="p-4 line">OTHER </button>
            </div>
        </div>
    </div>
    <div class="container-fluid marging_bottom mt-5">
        <div class=" justify-content-evenly mb-5 row">
            <div class="col-lg-8 col-sm-12 col-md-6 row text-center g-3">
                <div class="col-lg-4 col-sm-12 col-md-6 g-3">
                    <img class="img-fluid" src="../assas/image/Medisene_Copy_2.jpg" alt="">
                    <p>Sundown Naturals</p>
                    <h5 class="rating">$5.00</h5>
                    <button class="btn_3">Add to card</button>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <img class="img-fluid" src="../assas/image/Medisene_Copy_3.jpg" alt="">
                    <p>Nature Made Vitamin</p>
                    <h5 class="rating">$12.00</h5>
                    <button class="btn_3">Add to card</button>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <img class="img-fluid" src="../assas/image/Medisene_Copy_4.jpg" alt="">
                    <p>Axe Vitamin B</p>
                    <h5 class="rating">$5.00</h5>
                    <button class="btn_3">Add to card</button>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6 g-3">
                    <img class="img-fluid" src="../assas/image/Medisene_Copy_5.jpg" alt="">
                    <p>Sundown Naturals</p>
                    <h5 class="rating">$5.00</h5>
                    <button class="btn_3">Add to card</button>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <img class="img-fluid" src="../assas/image/Medisene_Copy_6.jpg" alt="">
                    <p>Sundown Naturals</p>
                    <h5 class="rating">$5.00</h5>
                    <button class="btn_3">Add to card</button>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <img class="img-fluid" src="../assas/image/Medisene_Copy_7.jpg" alt="">
                    <p>Sundown Naturals</p>
                    <h5 class="rating">$5.00</h5>
                    <button class="btn_3">Add to card</button>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-6 justify-content-evenly g-5">
                <div class="bg_color3 pt-2 pb-2">
                    <h4> &nbsp;<i class="fa-solid fa-star"></i> &nbsp; You may also need</h4>
                </div>
                <div class=" row mt-5 text-center">
                    <div class="col-lg-4 col-sm-12 col-md-6">
                        <img class="img-fluid" src="../assas/image/Medisene_Copy_2.jpg" alt="">
                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6">
                        <p>Sundown Naturals</p>
                        <h5 class="rating">$5.00</h5>
                    </div>
                </div>
                <div class=" row mt-5 text-center">
                    <div class="col-lg-4 col-sm-12 col-md-6">
                        <img class="img-fluid" src="../assas/image/Medisene_Copy_3.jpg" alt="">
                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6">
                        <p>Nature Made Vitamin</p>
                        <h5 class="rating">$12.00</h5>
                    </div>
                </div>
                <div class=" row mt-5 text-center">
                    <div class="col-lg-4 col-sm-12 col-md-6">
                        <img class="img-fluid" src="../assas/image/Medisene_Copy_4.jpg" alt="">
                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6">
                        <p>Axe Vitamin B</p>
                        <h5 class="rating">$5.00</h5>
                    </div>
                </div>
                <div class=" row mt-5 text-center">
                    <div class="col-lg-4 col-sm-12 col-md-6">
                        <img class="img-fluid" src="../assas/image/Medisene_Copy_5.jpg" alt="">
                    </div>
                    <div class="col-lg-4 col-sm-12 col-md-6">
                        <p>Biotin vitamin</p>
                        <h5 class="rating">$60.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /*  *****************   row 6 ******************  */ -->
    <div class="row bg_color3 mb-5">
        <div class="col-lg-4 col-sm-12 col-md-6">
            <img class="img-fluid docter_img"
                src="../assas/image/pf-d825add0-64c0-4b9d-a481-2de26ac4aa1b--Medisense-4.png" alt="">
        </div>
        <div class="col-lg-8 col-sm-12 col-md-6 docter_text">
            <h2>DO YOU WANT A PRIVATE DOCTOR?</h2>
            <h3>Make a FREE appointment today!</h3>
            <button class="Get"> &nbsp; <i class="fa-solid fa-calendar"></i> &nbsp; MAKE APPOINTMENT</button>
        </div>
    </div>
    <!-- /*  *****************   row 7 ******************  */ -->
    <div class=" container-fluid justify-content-evenly row mt-3 mb-5">
        <div class="col-lg-7 col-sm-12 col-md-6 row">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12">
                        <button class="p-4 line">WAY TO LIVE WELL </button>
                    </div>
                </div>
            </div>
            <div class="container row">
                <div class="col-lg-5 col-sm-12 col-md-12">
                    <img class="img-fluid" src="../assas/image/Mumento_08.jpg" alt="">
                </div>
                <div class="col-lg-7 col-sm-12 col-md-12">
                    <h5>CELINA BRAGINSKY - CEO OF MEDISENE</h5>
                    <p>Customers love our easy to shop website and that we make a broad range of products conveniently
                        accessible to Canadians. Plus, with a friendly and helpful customer care team and super fast
                        shipping that’s free in Canada over $29, we’re great at making the lives of busy Canadians a
                        little bit easier.</p>
                </div>
            </div>
            <div class="container row">
                <div class="col-lg-5 col-sm-12 col-md-12">
                    <img class="img-fluid" src="../assas/image/Mumento_07.jpg" alt="">
                </div>
                <div class="col-lg-7 col-sm-12 col-md-12">
                    <h5>BEULAH PARK - CEO OF MEDISENE</h5>
                    <p>We’re a fast-growing, proudly Canadian company that’s passionate about our customers, our
                        business, and the products we sell. There’s a real person behind every item we offer, every
                        package we ship, and every interaction we have with you, because we love sharing our passion for
                        health and wellness with you.</p>
                </div>
            </div>

        </div>
        <div class="col-lg-5 col-sm-12 col-md-6 mt-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12">
                        <button class="p-4 line">BRAND WE TRUST</button>
                    </div>
                </div>
            </div>

            <!-- <table>
                <tr> <img class="img-fluid"
                    src="../assas/image/pf-3b34db99-8cee-4e60-9b1e-727997b7bdb7--Medisense-06.png" alt=""></tr>
                <tr> <img class="img-fluid"
                    src="../assas/image/pf-1734177e-da0b-45d7-89d5-193d6691e901--Medisense-07.png" alt=""></tr>
                <tr> <img class="img-fluid"
                    src="../assas/image/pf-b28435ad-39c9-4daf-b4c7-89d256b20384--Medisense-08.png" alt=""></tr>
            </table> -->
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-md-4 card px-5">
                    <img class="img-fluid"
                        src="../assas/image/pf-3b34db99-8cee-4e60-9b1e-727997b7bdb7--Medisense-06.png" alt="">
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 card px-5">
                    <img class="img-fluid"
                        src="../assas/image/pf-1734177e-da0b-45d7-89d5-193d6691e901--Medisense-07.png" alt="">
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 card px-5">
                    <img class="img-fluid"
                        src="../assas/image/pf-b28435ad-39c9-4daf-b4c7-89d256b20384--Medisense-08.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-md-4 card px-5">
                    <img class="img-fluid"
                        src="../assas/image/pf-ddb3038a-dc37-4e59-a8c1-bab065d328f9--Medisense-09.png" alt="">
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 card px-5">
                    <img src="../assas/image/pf-fafb1691-2069-4e72-b9bd-a17aa5ae6f8b--Medisense-10.png" alt="">
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 card px-5">
                    <img src="../assas/image/pf-9ff53de4-3822-4b90-92ad-024d10c9c58f--Medisense-11.png" alt="">
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-sm-4 col-md-4 card px-5">
                    <img src="../assas/image/pf-0f486b5e-5489-497c-bba1-01a6ae281aa0--Medisense-12.png" alt="">
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 card px-5">
                    <img src="../assas/image/pf-d10d379b-6c97-41d1-ab37-5afa0c20dd54--Medisense-13.png" alt="">
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 card px-5">
                    <img src="../assas/image/pf-fefcdf71-741c-4eda-8e71-2e741af64844--Medisense-14.png" alt="">
                </div>
            </div>

        </div>
    </div>
    <!-- /*  *****************   row 8 ******************  */ -->
    <div class="container-fluid row mt-5 mb-5">
        <div class="col-lg-3 col-sm-12 col-md-6 row">
            <div class="col-lg-3 col-sm-6 col-md-4 ">
                <img src="../assas/image/pf-311adf7a-9c87-462c-acf3-13cd711fa94c--Medisense-15.png" alt="">
            </div>
            <div class="col-lg-9 col-sm-6 col-md-4">
                <h5>AUTHENTIC PRODUCTS</h5>
                <p>Items with certificates</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-6 row">
            <div class="col-lg-3 col-sm-6 col-md-4 ">
                <img src="../assas/image/pf-94df668d-4b51-4225-9a3c-dfffec8a3343--Medisense-16.png" alt="">
            </div>
            <div class="col-lg-9 col-sm-6 col-md-4">
                <h5>QUICK EMERGENCY</h5>
                <p>1st priority for emergencies</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-6 row">
            <div class="col-lg-3 col-sm-6 col-md-4 ">
                <img src="../assas/image/pf-8a3b05f0-fe3e-4376-b14b-400811ef0f54--Medisense-17.png" alt="">
            </div>
            <div class="col-lg-9 col-sm-6 col-md-4">
                <h5>CASH ON DELIVERY</h5>
                <p>For orders over $100</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-6 row">
            <div class="col-lg-3 col-sm-6 col-md-4 ">
                <img src="../assas/image/pf-136722dc-6336-4979-a522-f7bef2d937c1--Medisense-18.png" alt="">
            </div>
            <div class="col-lg-9 col-sm-6 col-md-4">
                <h5>BEST CONSULTANCY</h5>
                <p>Best health consultancy</p>
            </div>
        </div>

    </div>
</body>

</html>